:root {
  --body-bgc: bisque;
  --content-bgc: #fff;
  --nav-bgc: beige;
  --main-bcg: #fff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--body-bgc);
}
.content {
  width: 100%;
  height: 100%;
  background-color: var(--content-bgc);
}

nav {
  width: 100%;
  height: 10%;
  background-color: var(--nav-bgc);
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.logo-container {
  border: 1px solid black;
  flex: 1;
}

.btns-container {
  padding: 10px;
  flex: 1;
  display: flex;
  gap: 5%;
}

.nav-btn {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 10%;
  padding: 5%;
  text-align: center;
  flex: 1;
}

.main-container {
  background-color: var(--main-bcg);
  width: 100%;
  height: 90%;
  padding: 5%;
}

.main-heading {
  background-color: #fff;
  text-align: center;
}

.main-article {
  background-color: #fff;
  text-align: center;
}
