body {
  background-color: bisque;
}

nav {
  border: 1px solid black;
  display: flex;
  width: 100%;
  height: 7%;
}

.logo-container {
  border: 1px solid black;
  flex: 1;
}

.btns-container {
  border: 1px solid black;
  flex: 1;
}

.main-container {
  border: 1px solid black;
}

.main-heading {
  border: 1px solid black;
}

.main-article {
  border: 1px solid black;
}
